<div class="container">
<h1>Wackypedia</h1>
  <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="active"><a href="#">Search</a></li>
        <li role="presentation" class="active"><a href="#">View All</a></li>
        <li role="presentation" class="active"><a href="#">Add New Article</a></li>
    </ul>
    <h3>Welcome</h3>
    <p>Welcome message</p>
</div>

@{
  Layout = "_Layout";
}
