<!DOCTYPE html>
<html>
  <head>
    <title>Wiki Gone Wrong</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
