@{
    Layout = "_Layout";
}

@Html.Partial("_Header")
@using Wackypedia.models;

<h1>Add a Article Below</h1>
<div id="section" class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">New Article</h2>
    </div>
</div>

<form action="/articles" method="post">
    <label for="title">Title</label>
    <input id="title" name="title" type="text" value="" rows="2" cols="10"> </br>


 </form>
