@{
    Layout = "_Layout";
}
@Html.Partial("_Header")
@using Wackypedia.Models;
<h1>All Articles:</h1>
<ul>
  @if (Model.Count == 0){
    <p>There are no articles currently!</p>
  }
  else
  {
    @foreach (Article article in Model)
    {
      <li><strong><a href='/articles/@article.GetID()'>@article.GetTitle()</a></strong></li>
    }
  }
</ul>
