html, body {
    margin-left:30px;
    margin-right:30px;
    background-color: black;
}

div.container {
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #EEE;
    padding: 8px;
}

h1.centered {
    text-align: center;
}

div#contentDisplay {
}

div#contentEdit {
    display: none;
}

.navbar{
  border-radius: 20px;
}

.nav-item, .navbar-brand{
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  margin: 5px;
}

.navbar-brand{
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  padding: 5px;
}
